# macOS
.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build outputs
build/
*.ipa

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods (ถ้าใช้)
Pods/

# Carthage (ถ้าใช้)
Carthage/Build/
